[submodule "data/applications/book-server"]
	path = data/applications/book-server
	url = https://github.com/ibraginsky/book-server
[submodule "data/ci"]
	path = data/ci
	url = git@github.com:konveyor/ci.git
